.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#project-list {
  display: grid;
  grid-template-columns: 26% 26% 26%;
  column-gap: 11%;
  row-gap: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

nav {
  padding: 20px;
  text-align: end;
}

a {
  background-color: #736ced;
  font-size: large;
  font-weight: bold;
  color: #fef9ff;
  padding: 15px;
  margin: 5px;
  border-radius: 6px;
  text-decoration: none;
}

a:hover {
  background-color: d4c1ec;
  font-size: medium;
  color: black;
  padding: 15px;
  margin: 5px;
  border-radius: 4px;
  text-decoration: none;
}

h3 {
  text-align: center;
  color: black;

}
h1 {
  font-size: 8rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: whitesmoke;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

:root {
  background-color: #9F9FED;

}

.project-wrapper {
  width: 50%;
  text-align: left;
  padding-left: 8%;

}

.pledge-box {
  padding: 10px;
  font-size: larger;
}


